OPENAI_API_KEY:
HEYGEN_API_KEY:
TELEGRAM_BOT_TOKEN:
TELEGRAM_BOT_USERNAME:
ADMIN_TELEGRAM_PERSON_ID:
TELEGRAM_PERSON_ID:
HEYGEN_BASE_URL:
HEYGEN_AVATAR_ID:
HEYGEN_VOICE_ID:
ELEVENLABS_BASE_URL:
ELEVENLABS_API_KEY: